{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Catégories, Sous-catégories et Produits</h1>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-12 mb-4">
                    <h2 class="text-primary">{{ category.name }}</h2>
                    <ul class="list-group">
                        {% for subCategory in category.subCategories %}
                            <li class="list-group-item">
                                <h4 class="text-secondary">{{ subCategory.name }}</h4>
                                <ul>
                                    {% for product in subCategory.products %}
                                        <li>
                                            <strong>{{ product.nom }}</strong> - {{ product.prix }} TND
                                        </li>
                                    {% else %}
                                        <li>Aucun produit disponible</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="list-group-item">Aucune sous-catégorie disponible</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
